@{
    
}
<h2>About the Application</h2>
<h3>WebLIS  - Prototype</h3>

<p>Laboratory Information System (Web Application) - Integrated system for Clinics and Hospitals, Instruments, Doctors and Patients</p>
