@{
    
}
<h2>Contact US</h2>
<h3></h3>

<address>
    Medical Equipments<br />
    Matina, Davao City<br />
    <abbr title="Phone">P:</abbr>
    +63.82.297.18.31
</address>

<address>
    <strong>Developer:</strong>   <a href="mailto:Support@example.com">developer@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>