<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".
    "Data Source=SQL5031.myASP.NET;Initial Catalog=DB_A26374_zeeit2017;User Id=DB_A26374_zeeit2017_admin;Password=Darkman1;"
-->
  <connectionStrings>

    <add name="DefaultConnection"
         connectionString="Data Source=SQL5037.site4now.net;Initial Catalog=DB_A0A0AE_lis;User Id=DB_A0A0AE_lis_admin;Password=Lis12345!;" providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="LisDBContainer" connectionString="metadata=res://*/Models.LisDB.csdl|res://*/Models.LisDB.ssdl|res://*/Models.LisDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SQL5037.site4now.net;Initial Catalog=DB_A0A0AE_lis;User Id=DB_A0A0AE_lis_admin;Password=Lis12345!;;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="CoreDBContainer" connectionString="metadata=res://*/Areas.Core.Models.CoreDB.csdl|res://*/Areas.Core.Models.CoreDB.ssdl|res://*/Areas.Core.Models.CoreDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SQL5037.site4now.net;Initial Catalog=DB_A0A0AE_lis;User Id=DB_A0A0AE_lis_admin;Password=Lis12345!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"
          xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="His10DBContainer" connectionString="metadata=res://*/Areas.HIS10.Models.His10DB.csdl|res://*/Areas.HIS10.Models.His10DB.ssdl|res://*/Areas.HIS10.Models.His10DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SQL5037.site4now.net;Initial Catalog=DB_A0A0AE_lis;User Id=DB_A0A0AE_lis_admin;Password=Lis12345!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <system.web>
    <customErrors mode="Off"/>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
